#settings
.settings/

#metadata
.metadata/

# Compile
Debug/*
debug/*
Release/*
release/*

# Binary
!Debug/*.elf
!debug/*.elf
!Release/*.elf
!release/*.elf
!Debug/*.bin
!debug/*.bin
!Release/*.bin
!release/*.bin
!Debug/*.hex
!debug/*.hex
!Release/*.hex
!release/*.hex

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb